@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$px-1: 0.063rem;
$px-2: 0.125rem;
$px-3: 0.188rem;
$px-4: 0.25rem;
$px-5: 0.313rem;
$px-10: 0.625rem;
$px-11: 0.688rem;
$px-12: 0.75rem;
$px-13: 0.813rem;
$px-14: 0.875rem;
$px-15: 0.938rem;
$px-16: 1rem;
$px-17: 1.063rem;
$px-18: 1.125rem;
$px-19: 1.188rem;
$px-20: 1.25rem;
$px-21: 1.313rem;
$px-22: 1.375rem;
$px-23: 1.438rem;
$px-24: 1.5rem;
$px-25: 1.563rem;
$px-30: 1.875rem;
$px-40: 2.5rem;
$px-50: 3.125rem;
$px-60: 3.75rem;
$px-70: 4.375rem;
$px-80: 5rem;
$px-90: 5.625rem;
$px-100: 6.25rem;
$px-150: 9.375rem;
$px-200: 12.5rem;
$px-250: 15.625rem;
$px-300: 18.75rem;
$px-350: 21.875rem;
$px-400: 25rem;
$px-450: 28.125rem;
$px-500: 31.25rem;
$px-550: 34.375rem;
$px-600: 37.5rem;
$px-650: 40.625rem;
$px-700: 43.75rem;
$px-750: 46.875rem;
$px-800: 50rem;
$px-900: 56.25rem;
$px-1000: 62.5rem;
$px-1200: 75rem;
$px-1300: 81.25rem;
$px-1400: 87.5rem;
$px-1500: 93.75rem;
$px-1600: 100rem;
$px-2000: 125rem;
$px-2200: 137.5rem;

$rem-1: 16px;
$rem-2: 32px;
$rem-3: 48px;
$rem-4: 64px;
$rem-5: 80px;

$perc-25: 25%;
$perc-50: 50%;
$perc-75: 75%;
$perc-100: 100%;

// Titles
$font-exo-2: "Exo 2", serif;
// Paragraphs
$font-lato-sans: 'Lato', sans-serif;
// Buttons - Navbar
$font-poppins-sans: 'Poppins', sans-serif;

$font-size-base: 16px;
$base-width: 100vw;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-p: 1rem;
$font-size-p-medium: 1.15rem;
$font-size-p-large: 1.50rem;
$font-size-btn: 1rem;

// Color Palette #1
// https://coolors.co/313A42-DB3939-F2F6FC
$color-palette-p-1: rgb(209, 209, 209);
$color-palette-p-2: rgb(94, 39, 154);
$color-palette-p-3: rgb(53, 228, 222);

// Color Palette #2
// https://coolors.co/4E5D6A-E67575-DEE8F7
$color-palette-s-1: #B8B8B8;
$color-palette-s-2: #823BCE;
$color-palette-s-3: #6FEBE7;

// Color Palette #1 - Transparency
// https://coolors.co/313A42-DB3939-F2F6FC
$color-palette-p-1-transp: rgba(209, 209, 209, 0.147);
$color-palette-p-2-transp: rgba(94, 39, 154, 0.4);
$color-palette-p-3-transp: rgba(53, 228, 222, 0.56);

// RRSS
$color-contact-whatsapp: #22BF5B;
$color-contact-whatsapp-hover: #15793A;
$color-contact-instagram: #D61F5C;
$color-contact-instagram-hover: #8F143D;
$color-contact-linkedin: #0AA9FF;
$color-contact-linkedin-hover: #0077B5;

// Error
$color-error-message: #FF2C2C;

// Borders
$border-radius-btn: 50px;
$border-radius-circle: 100%;
$border-radius-toggler: 1px;

// Box shadow
$box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);

// Transition info
$transition-duration: 0.5s;
$transition-ease: ease;

html {
    font-size: $font-size-base;
}

h1 {
    font-family: $font-exo-2;
}

label, input::placeholder {
    font-family: $font-lato-sans;
}

.error-input {
    border: $px-1 solid $color-error-message !important;
}
#error-msg-username,
#error-msg-pswd {
    font-size: smaller;
    color: $color-error-message;
}

.card {
    background-color: rgba(255, 255, 255, 0.156) !important;
}