@import "general.scss";

input {
    min-width: $px-300;
}

.dark-background {
    background: linear-gradient(45deg, $color-palette-s-2, $color-palette-s-3); /* Adjust colors as needed */
}

.login-box {
    border: 1px solid $color-palette-p-2;
    border-radius: 10px;
}
